/* -- public - html - body -- */
html {
    background: #FFDE00;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

body {
    transition: 1s background ease-out;
}
body.black {
    background-color: #757575;
}
/* -- navigation - menu -- */
nav.menu {
    font-family: 'VT323', monospace;
    font-size: 14px;
    position: fixed;
    right: 0;
    height: 100vh;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1000;
}

nav.menu ul {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: relative;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* height: 50vw; */
    width: 50vh;
    position: absolute;
}

nav.menu ul li {
    position: relative;
    float: left;
}

nav.menu ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

/* --footer -  background effect -- */
.bg-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 999999;
    pointer-events: none;
    /* mix-blend-mode: screen; */
}

line.st0 {
    height: 0;
}

svg#Layer_1 rect {
    height: 0px;
    width: 1px;
    -webkit-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
}

svg#Layer_1 rect.rectop {
    -webkit-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
    -webkit-animation: rain 1000ms 1;
    animation: rain 1000ms 1;
}

.rain-box {
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-filter: blur(0.05em);
    filter: blur(0.05em);
}

.rain-box div.rain-sp {
    width: 1px;
    
    background: #575756;
}

.rain-box.o div.rain-sp {
    -webkit-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
    -webkit-animation: rain 500ms 1;
    animation: rain 500ms 1;
}

.rain-box.blur0 {
    -webkit-filter: blur(0.03em);
    filter: blur(0.03em);
}

.rain-box.blur1 {
    -webkit-filter: blur(0.05em);
    filter: blur(0.05em);
}

.rain-box.blur2 {
    -webkit-filter: blur(0.1em);
    filter: blur(0.1em);
}

.rain-box.blur3 {
    -webkit-filter: blur(0.15em);
    filter: blur(0.15em);
}

.rain-box.blur4 {
    -webkit-filter: blur(0.3em);
    filter: blur(0.3em);
}

.rain-box.blur3 div,.rain-box.blur4 div {
    width: 2px;
}

@-webkit-keyframes rain {
    0% {
        height: 0;
    }

    50% {
        height: 12px;
    }

    100% {
        height: 0;
    }
}

@keyframes rain {
    0% {
        height: 0;
    }

    50% {
        height: 12px;
    }

    100% {
        height: 0;
    }
}

.rain-zoom {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-size: cover;
    transition: 2s ease-in-out;
    left: 0;
}
.rain-zoom.scaleUp{
    transition: 10s cubic-bezier(0.4, 0, 0.2, 1), 2s opacity linear;
    opacity:1;
}


.rain-zoom.rain-zoom-img-1 {
    background-image: url(../img/lines-svg-1.png);
    transition-delay: 0.5s;
}

.rain-zoom.rain-zoom-img-2 {
    background-image: url(../img/lines-svg-2.png);
    transition-delay: 1s;
}

.rain-zoom.rain-zoom-img-3 {
    background-image: url(../img/lines-svg-3.png);
    transition-delay: 1.5s;
}

.rain-zoom.rain-zoom-img-4 {
    background-image: url(../img/lines-svg-4.png);
    transition-delay: 2s;
}

.rain-zoom.rain-zoom-img-5 {
    background-image: url(../img/lines-svg-5.png);
    transition-delay: 3s;
}

.rain-zoom.rain-zoom-img-6 {
    background-image: url(../img/lines-svg-6.png);
    transition-delay: 3.2s;
}

.rain-zoom.rain-zoom-img-7 {
    background-image: url(../img/lines-svg-7.png);
    transition-delay: 2.2s;
}


/* --footer -  loading -- */
.loading-views {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    color: #ffde00 !important;
    z-index: 158;
}

section.loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    /* opacity: 0; */
    left: 0;
    -webkit-transition: 1s ease all;
    transition: 1s ease all;
    pointer-events: none;
    z-index: 999999999999999999999999;
}
section.loading p{
    opacity:0;
    transition:200ms ease-in-out;
}
.loading-lines {
    width: 100px;
    float: left;
    height: 0;
    background: #575757;
    -webkit-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
}

.loading.op .loading-lines {
    height: 100%;
}
.loading.op p{
    opacity:1;
}
.loading-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: -1;
}

section.home-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.home-sign-container {
    position: relative;
    width: 70px;
    height: 70px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform: rotateX(0deg) rotateY(90deg);
    transform: rotateX(0deg) rotateY(90deg);
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

.home-container.op .home-sign-container {
    -webkit-transform: rotateX(0deg) rotateY(0);
    transform: rotateX(0deg) rotateY(0);
}

/* global */
.scaleUp {
    transition: 10s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: perspective(1000px) translate3d(0px, 0px, 10000px);
    -moz-transform: perspective(1000px) translate3d(0px, 0px, 10000px);
    -o-transform: perspective(1000px) translate3d(0px, 0px, 10000px);
    -ms-transform: perspective(1000px) translate3d(0px, 0px, 10000px);
    transform: perspective(1000px) translate3d(0px, 0px, 10000px);
}

.scaleDown {
    transition: 5s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: perspective(1000px) translate3d(0px, 0px, -100000px);
    -moz-transform: perspective(1000px) translate3d(0px, 0px, -100000px);
    -o-transform: perspective(1000px) translate3d(0px, 0px, -100000px);
    -ms-transform: perspective(1000px) translate3d(0px, 0px, -100000px);
    transform: perspective(1000px) translate3d(0px, 0px, -100000px);
}

.noScale {
    transition: 5s cubic-bezier(0.4, 0, 0, 1);
    -webkit-transform: perspective(1000px) translate3d(0px, 0px, 0px);
    -moz-transform: perspective(1000px) translate3d(0px, 0px, 0px);
    -o-transform: perspective(1000px) translate3d(0px, 0px, 0px);
    -ms-transform: perspective(1000px) translate3d(0px, 0px, 0px);
    transform: perspective(1000px) translate3d(0px, 0px, 0px);
}


