/* -- public - html - body -- */
body.black {
    background-color: #757575;
}

section.inner-ajax {
    position: relative;
    height: 100%;
    z-index: 0;
}

/* -- navigation - menu -- */
nav.menu {
    font-family: 'VT323', monospace;
    font-size: 14px;
    position: fixed;
    right: 0;
    height: 100vh;
    width: 50px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    z-index: 1000;
    transition:1s cubic-bezier(0.4, 0, 0.2, 1);
}

nav.menu:hover {
    background:#575757;
}

nav.menu:hover li a{
    color:yellow;

}

nav.menu li a:hover{
    letter-spacing:5px;

}

nav.menu ul {
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: relative;
    display: block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    /* height: 50vw; */
    width: 50vh;
    position: absolute;
}

nav.menu ul li {
    position: relative;
    float: left;
}

nav.menu ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition:0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

/* --footer -  background effect -- */
.bg-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 999999;
    pointer-events: none;
    /* mix-blend-mode: screen; */
}

line.st0 {
    height: 0;
}

svg#Layer_1 rect {
    height: 0px;
    width: 1px;
    transition: 400ms ease-in-out;
}

svg#Layer_1 rect.rectop {
    transition: 400ms ease-in-out;
    -webkit-animation: rain 1000ms 1;
    animation: rain 1000ms 1;
}

.rain-box {
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-filter: blur(0.05em);
    filter: blur(0.05em);
}

.rain-box div.rain-sp {
    width: 1px;
    background: #575756;
}

.rain-box.o div.rain-sp {
    transition: 400ms ease-in-out;
    -webkit-animation: rain 500ms 1;
    animation: rain 500ms 1;
}

.rain-box.blur0 {
    -webkit-filter: blur(0.03em);
    filter: blur(0.03em);
}

.rain-box.blur1 {
    -webkit-filter: blur(0.05em);
    filter: blur(0.05em);
}

.rain-box.blur2 {
    -webkit-filter: blur(0.1em);
    filter: blur(0.1em);
}

.rain-box.blur3 {
    -webkit-filter: blur(0.15em);
    filter: blur(0.15em);
}

.rain-box.blur4 {
    -webkit-filter: blur(0.3em);
    filter: blur(0.3em);
}

.rain-box.blur3 div,.rain-box.blur4 div {
    width: 2px;
}

@-webkit-keyframes rain {
    0% {
        height: 0;
    }

    50% {
        height: 12px;
    }

    100% {
        height: 0;
    }
}

@keyframes rain {
    0% {
        height: 0;
    }

    50% {
        height: 12px;
    }

    100% {
        height: 0;
    }
}

.rain-zoom {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-size: cover;
    transition: 2s ease-in-out;
    left: 0;
}

.rain-zoom.scaleUp {
    transition: 10s cubic-bezier(0.4, 0, 0.2, 1), 2s opacity linear;
    opacity: 1;
}

.rain-zoom.rain-zoom-img-1 {
    background-image: url(../img/lines-svg-1.png);
    transition-delay: 0.5s;
}

.rain-zoom.rain-zoom-img-2 {
    background-image: url(../img/lines-svg-2.png);
    transition-delay: 1s;
}

.rain-zoom.rain-zoom-img-3 {
    background-image: url(../img/lines-svg-3.png);
    transition-delay: 1.5s;
}

.rain-zoom.rain-zoom-img-4 {
    background-image: url(../img/lines-svg-4.png);
    transition-delay: 2s;
}

.rain-zoom.rain-zoom-img-5 {
    background-image: url(../img/lines-svg-5.png);
    transition-delay: 3s;
}

.rain-zoom.rain-zoom-img-6 {
    background-image: url(../img/lines-svg-6.png);
    transition-delay: 3.2s;
}

.rain-zoom.rain-zoom-img-7 {
    background-image: url(../img/lines-svg-7.png);
    transition-delay: 2.2s;
}

/* --footer -  loading -- */
section.loading {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
    transition: 1s ease all;
    pointer-events: none;
    overflow: hidden;
    z-index: 999999999999999999999999;
}

.loading-views {
    left: 0;
    top: 0;
    width: 20vw;
    height: 25px;
    overflow: hidden;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    color: #ffde00 !important;
    z-index: 158;
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
}

.loading-bg {
    position: absolute;
    height: 0;
    width: 100%;
    background: #575757;
    left: 0;
    transition: cubic-bezier(0.22, 0.61, 0.36, 1) 700ms 1s;
    z-index: 10;
}

.loading.op .loading-bg {
    height: 100%;
    transition: cubic-bezier(0.22, 0.61, 0.36, 1) 700ms 0s;
}

.loading.op.opf .loading-bg {
    height: 100%;
    transition: none;
}

section.loading p {
    -webkit-transform: translateY(25px);
        -ms-transform: translateY(25px);
            transform: translateY(25px);
    transition: 700ms 0ms cubic-bezier(0.22, 0.61, 0.36, 1);
}

section.loading.op p {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    transition: cubic-bezier(0.22, 0.61, 0.36, 1) 700ms 800ms;
}

section.loading.op.opf p {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    transition: cubic-bezier(0.22, 0.61, 0.36, 1) 700ms 0ms;
}

.loading-lines {
    width: 100px;
    float: left;
    height: 0;
    background: #575757;
    transition: 500ms ease-in-out;
}

.loading .loading-bar {
    width: 0%;
    height: 1px;
    background: #000;
    /* position: absolute; */
    bottom: 0;
    transition: cubic-bezier(0.22, 0.61, 0.36, 1) 700ms;
}

.loading.op .loading-bar {
    width: 100%;
}

.loading .loading-bar div {
    background: #ffde00;
    width: 0%;
    height: 100%;
    transition: cubic-bezier(0.22, 0.61, 0.36, 1) 1s;
}

.loading.op .loading-bar div {
    width: 100%;
    transition: cubic-bezier(0.22, 0.61, 0.36, 1) 1s 700ms;
}

@-webkit-keyframes bar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes bar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

section.home-container {
    position: relative;
    height: 100%;
    width: 100vw;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
}

.home-sign-container {
    position: relative;
    width: 70px;
    height: 70px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform: rotateX(0deg) rotateY(90deg);
    transform: rotateX(0deg) rotateY(90deg);
    -webki-transition: 1s cubic-bezier(0.64, 0.57, 0.67, 1.53);
    transition: 1s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.home-container.op .home-sign-container {
    /* -webkit-transform: rotateX(0deg) rotateY(0); */
    transform: rotateX(0deg) rotateY(0);
}


.home-type {
    position:absolute;
    width: auto;
    left: 0;
    text-align: center;
    padding: 0 50px;
    font-family: 'VT323',sans-serif;
}

/* global */
.scaleUp {
    transition: 10s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: perspective(1000px) translate3d(0px, 0px, 10000px);
    -ms-transform: perspective(1000px) translate3d(0px, 0px, 10000px);
    transform: perspective(1000px) translate3d(0px, 0px, 10000px);
}

.scaleDown {
    transition: 5s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: perspective(1000px) translate3d(0px, 0px, -100000px);
    -ms-transform: perspective(1000px) translate3d(0px, 0px, -100000px);
    transform: perspective(1000px) translate3d(0px, 0px, -100000px);
}

.noScale {
    transition: 5s cubic-bezier(0.4, 0, 0, 1);
    -webkit-transform: perspective(1000px) translate3d(0px, 0px, 0px);
    -ms-transform: perspective(1000px) translate3d(0px, 0px, 0px);
    transform: perspective(1000px) translate3d(0px, 0px, 0px);
}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 1224px) {
    html {
        overflow:auto;
        overflow-y: scroll;
    }

    /*     loading */
    .loading-views {
        width: 100%;
    }

    .loading-bg {
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }

/*     menu */
    nav.menu{
        width:100%;
        height:50px;
        display: block;
    }
    nav.menu ul{
        -webkit-transform:none;
        -ms-transform:none;
        transform:none;
    }

/*     home */
    section.home-container{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    html {
    }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}


